{% load i18n static %}<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Recipe Book</title>
    <link rel="icon" href="{% static 'base/icons/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/library/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/library/select2.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}"/>
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Recipe Book</a>
        {% block userinfo %}
        {% if user.is_authenticated %}
            <div class="ml-auto navbar-brand">{{ user.username }}
                <a class = "navbar-brand pl-4" href="{% url 'logout' %}">
                    <img src="{% static 'base/images/logout-icon.png' %}" width="20px" height="20px"/>
                </a>
            </div>
        {% else %}
        <div class="ml-auto">
            <a class="navbar-brand" href="{% url 'login' %}">Log In</a>
            <a class="navbar-brand" href="{% url 'register' %}">Log Up</Up></a>
        </div>

        {% endif %}
        {% endblock %}
        </div>
    </nav>
</header>

<main role="main">
    <section class="jumbotron p-4 text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Recipe Book</h1>
            <p class="lead text-muted">{{ form.description }}</p>
            <div class="row">
                <div class="col-md-12">
                    {% block form %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
</main>

<footer class="text-muted">
    <div class="container text-center">
        <p class="pt-3">&copy; <a href="tg://resolve?domain=@xLibertaDx">Yurov Andrey</a> {% now 'Y' %}</p>
    </div>
</footer>
<!--<script src="{% static '/js/library/jquery-3.5.0.min.js' %}"></script>-->
<!--<script src="{% static '/js/library/bootstrap.min.js' %}"></script>-->
{% block extrajs %}
<!--    <script src="{% static '/js/library/select2.min.js' %}"></script>-->
<!--    <script src="{% static '/js/library/select2.ru.js' %}"></script>-->
<!--    <script src="{% static '/js/bookrecipes.select.js' %}"></script>-->
{% endblock %}
</body>
</html>
