{% extends 'base.html' %}
{% load static %}



{% block form %}
    <form class="js-form">
        {% include 'main/select_form.html' with id='recipe_id' title=form.recipe.title subjects=form.recipe.objects subject_selected=form.recipe.selected %}
        {% include 'main/select_form.html' with id='ingredient_id' title=form.ingredient.title subjects=form.ingredient.objects subject_selected=form.ingredient.selected %}
    </form>
{% endblock %}
{% block content %}
        {% if not recipes %}
            {% include 'main/none_info.html' %}
        {% else %}
            {% for recipe in recipes %}
                <h2>{{ recipe }}</h2>
                <table class="table table-hover js-table">
                    <thed>
                        <tr>
                            <th scope="col">Ingredients</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thed>
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    {% for el in recipe.ingredients.all %}
                                        <li>{{ el.name }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                               {{ recipe.description }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endfor %}
        {% endif %}
{% endblock %}





